@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

:root {
    --corBody: #F5F1E6;
    --corPrincipal: #477C83;
    --corSecundaria: #BB4C2E;
    --corTerciaria: #214146;
    

    --fontePrincipal: 'Poppins', sans-serif;
    --fonteTitulo: 'Oswald', sans-serif;
}

.tituloDash{
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 4%;
    font-family: var(--fontePrincipal);
    font-weight: 400;
    font-size: 32px;
    color: white;

}

form{
    display: flex;
    flex-direction: column;
    width: 79%;
    margin-top: 50px;
    margin-left: 100px;
}

label{
    font-family: var(--fontePrincipal);
    color: #fff;
    font-size: 20px;
    width: 25%;
}

input{
    background-color: var(--corBody);
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-family: var(--fontePrincipal);
    margin-left: 3%;
    width: 30%;
    text-align: center;
}

.user-boxDash {
    display: flex;
    margin-top: 20px;
    
    
}

.tituloGraficos {
    color: #fff;
    display: flex;
    font-family: var(--fontePrincipal);
    justify-content: center;
    margin-bottom: 2%;
  }
  

#graficos{
    margin-top: 3%;
}


.graph{
    background-color: var(--corBody);
    border-radius: 20px;
    border: 2px solid var(--corTerciaria);
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.doisGraficos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}