@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --corPrimaria : #F5F1E6;
    --corSecundaria: #477C83;
    --corTerciaria: #BABABA;
    --fontePrincipal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--corPrimaria);
    margin-top: 1%;
}

.corFundo {
    width: 98%;
    height: 90vh;
    background-color: var(--corSecundaria);
    border-radius: 50px;
}

/* Começo do header */

.header{
    display: flex;
}

.logo{
    margin-left: 4%;
}

.menuHeader {
    display: flex;
    justify-content: center;
    width:  50%;
    margin-left: 5%;
}

.corHeader{
    background-color: var(--corPrimaria);
    width: 100%;
    height: 70px;
    border-radius: 50px;
}


.listaMenu{
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}

.listaMenu a{
    text-decoration: none;
    font-family: var(--fontePrincipal);
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.imgLupa{

    margin-top: 1%;
    margin-left: 6%;
}

.header hr{
    margin-left: 1%;
    margin-top: 1%;
    height: 42px;
}
