:root {
    --corBody: #F5F1E6;
    --corPrincipal: #477C83;
    --corSecundaria: #BB4C2E;

    --fontePrincipal: 'Poppins', sans-serif;
    --fonteTitulo: 'Oswald', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    font-family: var(--fontePrincipal);
    background: var(--corPrincipal);
}

.login-box {
    margin-top: 5%;
    margin-left: 33%;
    margin-bottom: 10%;
    width: 30%;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: var(--corSecundaria);
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--corSecundaria);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background:var(--corSecundaria);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--corSecundaria),
        0 0 25px var(--corSecundaria),
        0 0 50px var(--corSecundaria),
        0 0 100px var(--corSecundaria);
}

.login-box a span {
    position: absolute;
    display: block;
}

.cadastroPreferencia p{
    color: #fff;
    margin-bottom: 1%;
}

.cadastroPreferencia label{
    color: #fff;
    margin-bottom: 1%;
    
}

.cadastroPreferencia{
    margin-bottom: 4%;
}