@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

:root {
    --corBody: #F5F1E6;
    --corPrincipal: #477C83;
    --corSecundaria: #BB4C2E;

    --fontePrincipal: 'Poppins', sans-serif;
    --fonteTitulo: 'Oswald', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--corBody);
}

.corFundo {
    background-color: var(--corPrincipal);
    width: 96%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 50px;
    
}

.header {
    display: flex;
}

.header a{
    text-decoration: none;
    color: white;
}

.logo {
    width: 25%;
    margin-left: 4%;
}

.menuHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    font-family: var(--fontePrincipal);
    font-size: 20px;
    
    background-color: var(--corBody);
    border-radius: 50px;
}

.menuHeader a {
    text-decoration: none;
    color: black;
}



.dropbtn {
    background-color: var(--corBody);
    padding: 16px;
    font-family: var(--fontePrincipal);
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--corBody);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--corSecundaria)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--corBody);
}

.cadastroLogin{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 3%;
    font-size: 20px;
    font-family: var(--fontePrincipal);
    color: white;
}



.containertudo {
    margin-left: 5%;
}

.tituloFavorito {
    margin-top: 3%;

    font-family: var(--fontePrincipal);
    font-weight: 400;
    font-size: 32px;
    color: white;
}

.livroFavorito {
    display: flex;
    margin-top: 3%;
    margin-left: 4%;
}

.imgLivroFavorito {
    width: 390px;
}

.quizzFavorito button{
    background-color: var(--corSecundaria);
    border: none;
    border-radius: 20px;
    font-family: var(--fontePrincipal);
    padding: 10px;
    width: 50%;
    margin-top: 2%;
}

.quizzFavorito a{
    color: #F5F1E6;
    text-decoration: none;
}

.caixaTextoLivro {
    margin-top: 1%;
    background-color: var(--corBody);
    width: 57%;
    height: 84vh;
}

.filtros {
    display: flex;
    justify-content: space-evenly;
}

.filtrosLivros {
    margin-top: 2%;
    background-color: var(--corSecundaria);
    color: white;
    border-radius: 20px;
    padding: 0 20px;
    font-family: var(--fontePrincipal);
    font-size: 12px;
}

.tituloLivro {
    margin-top: 1%;
    font-family: var(--fonteTitulo);
    font-size: 36px;
    margin-left: 5%;
}

.tituloLivro hr {
    width: 90%;
}

.textosLivro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontePrincipal);
    font-size: 15px;
    margin-top: 1%;
}


.trechoLivro {
    background-color: var(--corSecundaria);
    color: white;
    border-radius: 20px;
    width: 78%;
    padding: 10px;
    text-align: center;
}

.todosComentarios {
    display: flex;
    justify-content: space-around;
}

.comentarioLivro {
    margin-top: 3%;
    width: 40%;
    text-align: center;
    border: 1px solid var(--corSecundaria);
    padding: 10px;
}


/* bestsellers */

.tituloBest {
    margin-top: 10%;

    font-family: var(--fontePrincipal);
    font-weight: 400;
    font-size: 32px;
    color: white;

    margin-bottom: 1%;
}

.cardsBest {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.cardsBest img {
    width: 100%;
    height: 39vh;
}


/* quizz */

.fotosQuizz {
    margin-left: -5%;
    padding: 0;
    width: 105%;
}

footer {
    display: flex;
    margin-left: 7%;
    margin-bottom: 5%;
}

footer ul {
    list-style-type: none;
    color: white;
    font-family: var(--fontePrincipal);
    font-size: 20px;
    margin-bottom: 5%;
    margin-top: 9%;
}

.minhasInfo {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: var(--fontePrincipal);
    font-size: 20px;
    margin-left: 9%;
    margin-top: 3%;
}




.livroMostrar {
    display: flex;
    margin-top: 3%;
    margin-left: 10%;
}

.imgLivroMostrar {
    width: 390px;
}

.caixaTextoLivroMostrar {
    margin-top: 2%;
    background-color: var(--corBody);
    width: 57%;
    height: 90vh;
}

.filtrosMostrar {
    display: flex;
    justify-content: space-evenly;
}

.filtrosLivrosMostrar {
    margin-top: 2%;
    background-color: var(--corSecundaria);
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: var(--fontePrincipal);
    font-size: 14px;
}

.tituloLivroMostrar {
    margin-top: 1%;
    font-family: var(--fonteTitulo);
    font-size: 36px;
    margin-left: 5%;
}

.tituloLivroMostrar hr {
    width: 90%;
}

.textosLivroMostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontePrincipal);
    font-size: 15px;
    margin-top: 1%;
}


.trechoLivroMostrar {
    background-color: var(--corSecundaria);
    color: white;
    border-radius: 20px;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.todosComentariosMostrar {
    display: flex;
    justify-content: space-around;
}

.comentarioLivroMostrar {
    margin-top: 3%;
    width: 40%;
    text-align: center;
    border: 1px solid var(--corSecundaria);
    padding: 10px;
}

.filtrosLivrosMostrarImg img{
    transform: rotate(-90deg);
    width: 70%;
}

.filtrosLivrosMostrarImg{
    margin-top: 2%;
    background-color: var(--corSecundaria);
    color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 2px;
}